# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/
.venv

# Variables de entorno
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Base de datos
*.db
*.sqlite3

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribución / empaquetado
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebook
.ipynb_checkpoints

# FastAPI
.mypy_cache/
.dmypy.json
dmypy.json

# Uploads
uploads/
